
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#a77541 0%, #a77541 130px,#dec3a6 130px, #dec3a6 100%);
}
.container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.092),0 2px 5px 0 rgba(0, 0, 0, 0.092);
    display: flex;
}
.container .leftside {
    position: relative;
    flex: 30%;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.301);
}
.container .rightside {
    position: relative;
    flex: 70%;
    background:rgb(251, 209, 189);

}
.container .rightside::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/fondo.png);
    opacity: 0.09;
}
.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #d7b692;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding:0 15px;
    
}
.header .usuario{

    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}
.header.usuario h4 {
font-size: 1.1em;
font-weight: 600;
color: #111;
}
.estado{
    display: flex;

}
.estado p {
    color: #111;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.usuarioimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;

}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_icons {
    display: flex;

}
.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #431f07;
    font-size: 1.5em;
    margin-left: 22px;
    
}

.busqueda 
{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f0d8bd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.boton{
    position: relative;
    width: 80%;
    height: 30px;
    background: #a77541;
    cursor: pointer;
    border-radius: 15px;
    border: solid 2px #431f07;
}

/* .busqueda div 
{
    width: 100%;

}
.busqueda div input 
{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;

}
.busqueda div ion-icon 
{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
    cursor: pointer;
} */
.lista{
    position: relative;
    height: calc(100% - 110px); /*  restarle el alto de header y busqueda */
    overflow-y: auto;
    
}
.lista .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    cursor: pointer;
}
.lista .block .contactoimg{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 5%;
    margin-right: 10px;
}
.lista .block .info {
    position: relative;
    width: 100%;
}
.lista .block .info .nombre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}
.lista .block .info .nombre h4 {
font-size: 1.1em;
font-weight: 600;
color: #111;

}
.mensaje {
display: flex;
justify-content: space-between;
align-items: center;
}
.mensaje p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inicio {
    position: relative;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.inicio .block2{

    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;

}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7b692;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    border: solid 2px #a77541;

}
.inicio .block2 .logo{
    
    position: relative;
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
    
}

.texto{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.texto .titulo{

    display: flex;
    justify-content: center;
    
}
.texto .titulo h2{
    font-size: 2em;
    font-weight: 900;
    color: #111;  
}
.parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.parrafo p {
    color: #000000;
    text-align: center;
    justify-content: center;
    font-size: 0.9em;


}

